@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Signika", sans-serif;
}
body {
  background: rgb(238, 174, 202);
  background: -moz-linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
#root {
  padding: 2rem calc((100vw - 1000px) / 4);
}

.carousel {
  color: rgba(20, 18, 18, 0.85);
}

.carousel-item {
  position: absolute;
  visibility: hidden;
  width: 360px;
}
@media screen and (max-width: 390px) {
  .carousel-item {
    width: 260px;
  }
  .icon {
    font-size: 1rem;
  }
}

.carousel-item.visible {
  visibility: visible;
}
.icon {
  font-size: 2rem;
  margin: 0;
}

.icon>p{
  color:rgba(148, 187, 233, 1);
}


@media screen and (max-width: 500px) {
  .icon {
    font-size: 1.5rem;
  }
}
